@import './reset.scss';

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: inherit;
    border: none;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.title{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 80px;
}

.workers{
    padding: 80px 0;
    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 350px;
        border: 1px solid #000;
        padding: 20px 30px;
        border-radius: 15px;
        cursor: pointer;
        &-name{
            font-size: 28px;
            line-height: 1.3;
            letter-spacing: 3px;
        }
        &-wage{
            font-size: 24px;
        }
        &-buttons{
            display: flex;
            justify-content: space-between;
            gap: 30px;
        }
        &-email{
            margin-bottom: 30px;
        }
        &-btn{
            width: 100%;
            padding: 5px 10px;
            border-radius: 10px;
            font-size: 18px;
            border: 1px solid #000000;
            transition: transform .3s;
            &:hover{
                transform: translate(2px, 2px);
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    &__content {
        width: 100%;
        max-width: 700px;
        height: 100%;
        max-height: 400px;
      background: white;
      padding: 30px 20px;
      border-radius: 8px;
    }
  
    &__title {
        text-align: center;
      margin-bottom: 20px;
      font-size: 28px;
    }
  
    &__form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  
    &__label {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  
    &__label-text {
      font-weight: bold;
    }
  
    &__input {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  
    &__buttons {
      display: flex;
      justify-content: space-between;
    }
  
    &__button {
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  
      &--cancel {
        background: #f5f5f5;
        color: #333;
      }
  
      &--save {
        background: #007bff;
        color: white;
      }
    }
  }
  
  